# 과제 3-3 문자열 데이터 변환하기 (str)

## 1 '6.세종시_오피스텔(매매)_실거래가.csv' 데이터 불러오기

In [31]:
import pandas as pd
import numpy as np
df_sejong = pd.read_csv('./data/6.세종시_오피스텔(매매)_실거래가.csv')
df_sejong

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,202012,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN
341,202012,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN
342,202012,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0
343,202012,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN
344,202012,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN

## 2. 시군구 띄어쓰기로 3개의 컬럼으로 변경

In [7]:
df_sejong_split = df_sejong['시군구'].str.split(' ',expand=True)
df_sejong_split

           0    1     2
0    세종특별자치시  어진동  None
1    세종특별자치시  어진동  None
2    세종특별자치시  나성동  None
3    세종특별자치시  어진동  None
4    세종특별자치시  어진동  None
..       ...  ...   ...
340  세종특별자치시  나성동  None
341  세종특별자치시  어진동  None
342  세종특별자치시  나성동  None
343  세종특별자치시  어진동  None
344  세종특별자치시  어진동  None

[345 rows x 3 columns]

In [9]:
df_sejong_split.columns = ['시','군','구']
df_sejong_split

           시    군     구
0    세종특별자치시  어진동  None
1    세종특별자치시  어진동  None
2    세종특별자치시  나성동  None
3    세종특별자치시  어진동  None
4    세종특별자치시  어진동  None
..       ...  ...   ...
340  세종특별자치시  나성동  None
341  세종특별자치시  어진동  None
342  세종특별자치시  나성동  None
343  세종특별자치시  어진동  None
344  세종특별자치시  어진동  None

[345 rows x 3 columns]

In [15]:
df_sejong_1 = pd.concat([df_sejong,df_sejong_split], axis = 1)
df_sejong_1

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,시,군,구
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN,세종특별자치시,어진동,None
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN,세종특별자치시,어진동,None
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN,세종특별자치시,나성동,None
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN,세종특별자치시,어진동,None
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN,세종특별자치시,어진동,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,202012,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN,세종특별자치시,나성동,None
341,202012,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN,세종특별자치시,어진동,None
342,202012,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0,세종특별자치시,나성동,None
343,202012,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN,세종특별자치시,어진동,None
344,202012,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN,세종특별자치시,어진동,None

## 3. 도담동 => 고운동으로 변경

In [23]:
df_sejong_1[df_sejong_1['군'] == '도담동']

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,시,군,구
6,201702,9,세종특별자치시 도담동,246,5,세종한신휴시티,29.47,"13,000",6,2014,NaN,세종특별자치시,도담동,None
10,201703,8,세종특별자치시 도담동,246,5,세종한신휴시티,38.53,"15,800",7,2014,NaN,세종특별자치시,도담동,None
11,201703,17,세종특별자치시 도담동,246,5,세종한신휴시티,29.47,"11,400",3,2014,NaN,세종특별자치시,도담동,None
30,201708,13,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"9,600",8,2014,NaN,세종특별자치시,도담동,None
42,201710,30,세종특별자치시 도담동,246,5,세종한신휴시티,29.47,"12,252",4,2014,NaN,세종특별자치시,도담동,None
43,201711,8,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"9,550",8,2014,NaN,세종특별자치시,도담동,None
47,201712,6,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"9,900",5,2014,NaN,세종특별자치시,도담동,None
64,201806,20,세종특별자치시 도담동,246,5,세종한신휴시티,32.19,"13,000",6,2014,NaN,세종특별자치시,도담동,None
65,201807,26,세종특별자치시 도담동,246,5,세종한신휴시티,31.17,"11,200",6,2014,NaN,세종특별자치시,도담동,None
70,201808,17,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"10,000",5,2014,NaN,세종특별자치시,도담동,None
71,201808,17,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"10,000",5,2014,NaN,세종특별자치시,도담동,None
77,201810,2,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"10,017",8,2014,NaN,세종특별자치시,도담동,None
84,201812,10,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"9,800",8,2014,NaN,세종특별자치시,도담동,None
90,201901,9,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"8,800",8,2014,NaN,세종특별자치시,도담동,None
109,201908,24,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,300",8,2014,NaN,세종특별자치시,도담동,None
121,201911,18,세종특별자치시 도담동,246,5,세종한신휴시티,27.09,"9,450",7,2014,NaN,세종특별자치시,도담동,None
133,202001,15,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"9,400",3,2014,NaN,세종특별자치시,도담동,None
134,202001,17,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,850",8,2014,NaN,세종특별자치시,도담동,None
137,202001,30,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"8,950",4,2014,NaN,세종특별자치시,도담동,None
149,202003,11,세종특별자치시 도담동,246,5,세종한신휴시티,32.19,"10,650",4,2014,NaN,세종특별자치시,도담동,None
152,202003,25,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,500",4,2014,NaN,세종특별자치시,도담동,None
159,202004,21,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"8,950",5,2014,NaN,세종특별자치시,도담동,None
174,202006,3,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,400",8,2014,NaN,세종특별자치시,도담동,None
193,202007,4,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,500",6,2014,NaN,세종특별자치시,도담동,None
198,202007,8,세종특별자치시 도담동,246,5,세종한신휴시티,27.09,"9,450",7,2014,NaN,세종특별자치시,도담동,None
211,202007,23,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"9,000",8,2014,NaN,세종특별자치시,도담동,None
217,202007,25,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,500",6,2014,NaN,세종특별자치시,도담동,None
220,202007,26,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"8,500",8,2014,NaN,세종특별자치시,도담동,None
225,202007,29,세종특별자치시 도담동,246,5,세종한신휴시티,24.03,"10,000",8,2014,NaN,세종특별자치시,도담동,None
245,202008,8,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"9,500",8,2014,NaN,세종특별자치시,도담동,None
255,202008,15,세종특별자치시 도담동,246,5,세종한신휴시티,31.17,"11,000",4,2014,NaN,세종특별자치시,도담동,None
282,202009,17,세종특별자치시 도담동,246,5,세종한신휴시티,27.09,"9,450",7,2014,NaN,세종특별자치시,도담동,None
338,202012,19,세종특별자치시 도담동,246,5,세종한신휴시티,27.43,"9,500",6,2014,NaN,세종특별자치시,도담동,None

In [29]:
df_sejong_1.loc[df_sejong_1['군']=='도담동','군'] = '고운동'
df_sejong_1[df_sejong_1['군'] == '도담동']

Empty DataFrame
Columns: [계약년월, 계약일, 시군구, 본번, 부번, 단지명, 전용면적(㎡), 거래금액(만원), 층, 건축년도, 해제사유발생일, 시, 군, 구]
Index: []

## 4. 세종시 오피스텔 거래금액(만원)을 int형으로 변경하세요

In [42]:
df_sejong_1['거래금액(만원)'] = df_sejong_1['거래금액(만원)'].str.replace(',','')
df_sejong_1['거래금액(만원)'] = df_sejong_1['거래금액(만원)'].astype(int)
df_sejong_1['거래금액(만원)']

0       9000
1       9500
2      13000
3       9500
4       9000
       ...
340    16410
341     8600
342    15340
343    11500
344    15600
Name: 거래금액(만원), Length: 345, dtype: int64

## 5. 시군구별 전용면적(㎡)별 오피스텔 거래금액 평균 값 구하기

In [47]:
df_sejong_1.columns[6]

'전용면적(㎡)'

In [50]:
df_sejong_1.groupby(df_sejong_1.columns[6]).mean()[['거래금액(만원)']]

             거래금액(만원)
전용면적(㎡)
21.22     4500.000000
21.92     7619.767442
22.09     5200.000000
22.22     8400.000000
22.42     8096.000000
23.24     8837.837838
23.52     9000.000000
23.57     7875.000000
23.74     8273.970588
24.01     9970.000000
24.03     9126.214286
24.12     8200.000000
24.22     8595.000000
24.32     8000.000000
24.50     8240.000000
24.62     9200.000000
25.39    12363.333333
26.18    16053.333333
26.34     8900.000000
26.75     5500.000000
27.09     9450.000000
27.43     9343.750000
28.65    12615.000000
28.72    10000.000000
29.06    11560.000000
29.47    12217.333333
30.24    10625.000000
30.48    12220.000000
31.17    11100.000000
32.19    11825.000000
34.15    11882.923077
35.35    14600.000000
36.58    15033.333333
37.90    17250.000000
38.53    15800.000000
39.11    13600.000000
40.64    13400.000000
40.97    17000.000000
43.71    14100.000000
44.84    15320.000000
56.07    29765.000000
59.20     9200.000000
68.21    12100.000000
83.01    19000.000000

## 6. 계약년월 별, 평균 오피스텔 가격 구하기

In [51]:
df_sejong_1

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,시,군,구
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,9000,14,2014,NaN,세종특별자치시,어진동,None
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,9500,11,2014,NaN,세종특별자치시,어진동,None
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,13000,8,2013,NaN,세종특별자치시,나성동,None
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,9500,4,2014,NaN,세종특별자치시,어진동,None
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,9000,4,2014,NaN,세종특별자치시,어진동,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,202012,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,16410,6,2020,NaN,세종특별자치시,나성동,None
341,202012,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,8600,18,2014,NaN,세종특별자치시,어진동,None
342,202012,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,15340,7,2020,20210118.0,세종특별자치시,나성동,None
343,202012,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,11500,9,2014,NaN,세종특별자치시,어진동,None
344,202012,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,15600,18,2014,NaN,세종특별자치시,어진동,None

In [52]:
df_sejong_1.groupby('계약년월').mean()[['거래금액(만원)']]

            거래금액(만원)
계약년월
201701   9250.000000
201702  10707.142857
201703  11775.000000
201704   9183.333333
201705  10900.000000
201706  11425.000000
201707   6100.000000
201708   9966.666667
201709   8950.000000
201710  10063.000000
201711   9350.000000
201712  13450.000000
201801  15800.000000
201802   9800.000000
201803  11007.142857
201804   9750.000000
201805  10460.000000
201806  13000.000000
201807   9066.666667
201808   8571.428571
201809   7650.000000
201810   9841.750000
201811   9350.000000
201812   9433.333333
201901   8400.000000
201902   7800.000000
201903  10300.000000
201904  12678.000000
201905   8100.000000
201906   9355.000000
201907   8490.000000
201908   9300.000000
201909  11600.000000
201910   7333.333333
201911   9235.714286
201912   8914.285714
202001   9964.285714
202002   8378.571429
202003   9137.500000
202004   9406.363636
202005   8103.333333
202006   8642.500000
202007   9103.750000
202008  10105.142857
202009   9175.000000
202010   7931.578947
202011   8719.230769
202012  11496.666667