<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#로지스틱-회귀분석-과제" data-toc-modified-id="로지스틱-회귀분석-과제-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>로지스틱 회귀분석 과제</a></span></li></ul></div>

# 로지스틱 회귀분석 과제 

- 1) 타이타닉 데이터를 불러오고 survived를 종속변수(y)로, 나머지 변수들은 독립변수(X)로 설정하세요

In [1]:
import pandas as pd 
df_t = pd.read_csv("./data/titanic.csv")
df_t

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
0,0,3,male,22.0,1,0,7.2500,S,Third,True,Southampton
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg
2,1,3,female,26.0,0,0,7.9250,S,Third,False,Southampton
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton
4,0,3,male,35.0,0,0,8.0500,S,Third,True,Southampton
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,True,Southampton
887,1,1,female,19.0,0,0,30.0000,S,First,False,Southampton
888,0,3,female,NaN,1,2,23.4500,S,Third,False,Southampton
889,1,1,male,26.0,0,0,30.0000,C,First,True,Cherbourg
890,0,3,male,32.0,0,0,7.7500,Q,Third,True,Queenstown

In [72]:
y = df_t['survived']
X = df_t.drop(['survived'],axis=1)

- 2) X의 결측치가 존재하는 행을 삭제하고, 범주형 변수를 더미변수화 시키세요

In [73]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pclass       891 non-null    int64
 1   sex          891 non-null    object
 2   age          714 non-null    float64
 3   sibsp        891 non-null    int64
 4   parch        891 non-null    int64
 5   fare         891 non-null    float64
 6   embarked     889 non-null    object
 7   class        891 non-null    object
 8   adult_male   891 non-null    bool
 9   embark_town  889 non-null    object
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [88]:
# 파생변수인 pclass, embarked 삭제
X = X.drop(['pclass','embarked'], axis = 1)

In [89]:
X_dropna = X.dropna()
y_dropna = y[X.isna().any(axis=1)==False]

In [91]:
X_dum = pd.get_dummies(X_dropna,columns = ['sex','class','embark_town'])
X_dum

,age,sibsp,parch,fare,adult_male,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
0,22.0,1,0,7.2500,True,0,1,0,0,1,0,0,1
1,38.0,1,0,71.2833,False,1,0,1,0,0,1,0,0
2,26.0,0,0,7.9250,False,1,0,0,0,1,0,0,1
3,35.0,1,0,53.1000,False,1,0,1,0,0,0,0,1
4,35.0,0,0,8.0500,True,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,39.0,0,5,29.1250,False,1,0,0,0,1,0,1,0
886,27.0,0,0,13.0000,True,0,1,0,1,0,0,0,1
887,19.0,0,0,30.0000,False,1,0,1,0,0,0,0,1
889,26.0,0,0,30.0000,True,0,1,1,0,0,1,0,0
890,32.0,0,0,7.7500,True,0,1,0,0,1,0,1,0

- 3) 독립변수(X)를 StandardScaler를 통해 변환하세요

In [92]:
X_dum.describe()

,age,sibsp,parch,fare,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,29.642093,0.514045,0.432584,34.567251,0.363764,0.636236,0.258427,0.242978,0.498596,0.182584,0.039326,0.778090
std,14.492933,0.930692,0.854181,52.938648,0.481420,0.481420,0.438078,0.429183,0.500350,0.386597,0.194506,0.415823
min,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,8.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,28.000000,0.000000,0.000000,15.645850,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,38.000000,1.000000,1.000000,33.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,80.000000,5.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [104]:
# fare 독립변수가 다른 변수에 비해 수백배~차이가 많이 남. 따라서 fare 만 정규화해보자
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_dum['fare'] = scaler.fit_transform(X_dum[['fare']])
X_dum.describe()

,age,sibsp,parch,fare,sex_female,sex_male,class_First,class_Second,class_Third,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
count,712.000000,712.000000,712.000000,7.120000e+02,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,29.642093,0.514045,0.432584,-9.555403e-16,0.363764,0.636236,0.258427,0.242978,0.498596,0.182584,0.039326,0.778090
std,14.492933,0.930692,0.854181,1.000703e+00,0.481420,0.481420,0.438078,0.429183,0.500350,0.386597,0.194506,0.415823
min,0.420000,0.000000,0.000000,-6.534272e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,-5.012575e-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,28.000000,0.000000,0.000000,-3.576726e-01,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,38.000000,1.000000,1.000000,-2.962586e-02,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,80.000000,5.000000,6.000000,9.031168e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

- 4) X와 y를 홀드아웃 기법을 사용하여 7:3으로 분할하세요

In [105]:
y_dropna.value_counts()

0    424
1    288
Name: survived, dtype: int64

In [106]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(a, y_dropna, stratify=y_dropna, train_size=0.7,
                                                   test_size = 0.3, random_state=123)

In [107]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape )

(498, 13) (214, 13) (498,) (214,)

In [108]:
y_test.value_counts()

0    127
1     87
Name: survived, dtype: int64

- 5) X_train과 y_train을 가지고 로지스틱 회귀분석모델을 만드세요

In [109]:
# 모델 적합하기
import statsmodels.api as sm
model = sm.Logit(y_train, X_train)
result = model.fit()
result.summary

ValueError: The indices for endog and exog are not aligned

- 6) 변수선택법을 통해 최적의 회귀 방정식을 구하고, 유의한 변수만을 추출하세요. (변수선택법은 복사 붙여넣기)

In [82]:
import time
import itertools
import statsmodels.api as sm

def processSubset(X,y, feature_set):
            model = sm.Logit(y,X[list(feature_set)]) # Modeling
            regr = model.fit() # 모델 학습
            AIC = regr.aic # 모델의 AIC
            return {"model":regr, "AIC":AIC}
        
'''
전진선택법
'''
def forward(X, y, predictors):
    
    # 데이터 변수들이 미리정의된 predictors에 있는지 없는지 확인 및 분류
    remaining_predictors = [p for p in X.columns if p not in predictors]
    results = []
    for p in remaining_predictors:
        results.append(processSubset(X=X, y= y, feature_set=predictors+[p]))
        
    # 데이터프레임으로 변환
    models = pd.DataFrame(results)

    # AIC가 가장 낮은 것을 선택
    best_model = models.loc[models['AIC'].argmin()] # index

    print("Processed ", models.shape[0], "models on", len(predictors)+1, "predictors in")
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model

'''
후진소거법
'''
def backward(X,y,predictors):
    tic = time.time()
    results = []
    
    # 데이터 변수들이 미리정의된 predictors 조합 확인
    for combo in itertools.combinations(predictors, len(predictors) - 1):
        results.append(processSubset(X=X, y= y,feature_set=list(combo)))
    models = pd.DataFrame(results)
    
    # 가장 낮은 AIC를 가진 모델을 선택
    best_model = models.loc[models['AIC'].argmin()]
    toc = time.time()
    print("Processed ", models.shape[0], "models on", len(predictors) - 1, "predictors in",
          (toc - tic))
    print('Selected predictors:',best_model['model'].model.exog_names,' AIC:',best_model[0] )
    return best_model



'''
단계적 선택법
'''

def Stepwise_model(X,y):
    Stepmodels = pd.DataFrame(columns=["AIC", "model"])
    tic = time.time()
    predictors = [X.columns[0]]
    Smodel_before = processSubset(X,y,predictors)['AIC']
    # 변수 1~10개 : 0~9 -> 1~10
    for i in range(1, len(X.columns) + 1):
        Forward_result = forward(X=X, y=y, predictors=predictors) # constant added
        print('forward')
        Stepmodels.loc[i] = Forward_result
        predictors = Stepmodels.loc[i]["model"].model.exog_names
        predictors = [ k for k in predictors]
        Backward_result = backward(X=X, y=y, predictors=predictors)
        if Backward_result['AIC']< Forward_result['AIC']:
            Stepmodels.loc[i] = Backward_result
            predictors = Stepmodels.loc[i]["model"].model.exog_names
            Smodel_before = Stepmodels.loc[i]["AIC"]
            predictors = [ k for k in predictors]
            print('backward')
        if Stepmodels.loc[i]['AIC']> Smodel_before:
            break
        else:
            Smodel_before = Stepmodels.loc[i]["AIC"]
    toc = time.time()
    print("Total elapsed time:", (toc - tic), "seconds.")
    return (Stepmodels['model'][len(Stepmodels['model'])])

In [84]:
best_model = Stepwise_model(X=X_train,y=y_train)

ValueError: The indices for endog and exog are not aligned

- 6) X_test값을 가지고 y_predict값을 구한 후 혼동행렬을 만드세요

- 7) X_test값을 가지고 y_predict_proba 값을 구한 후 roc_auc_score를 구하고 해석하세요

- 7) 회귀계수를 구하고, 유의한 회귀계수의 값을 설명하세요