# 과제 5


4. 타이타닉 데이터의 결측치를 확인하세요. 
5. age의 결측값은 중위 값으로 대체하세요. 
6. embark_town의 결측 값은 최빈값으로 대체하세요. 
7. embarked 결측치는 embark_town의 첫 글자로 대체하세요 
8. deck 결측치는 backfill로 5개만 대체하세요. limit = 5 
9. df_t내에 범주형 변수를 원 핫 인코딩하여 더미변수로 만드세요

In [3]:
import pandas as pd
df = pd.read_csv('./data/titanic.csv')

In [2]:
## 1. 타이타닉 데이터의 결측치를 확인하세요

In [5]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
adult_male       0
embark_town      2
dtype: int64

# 1. age 변수에 177개가 있음

In [6]:
## 2. age의 결측값은 중위 값으로 대체하세요.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  889 non-null    object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 70.6+ KB

In [ ]:
df.loc["age",df["age"].isna()] =

In [4]:
## 3. embark_town의 결측 값은 최빈값으로 대체하세요.

In [5]:
## 4. embarked 결측치는 embark_town의 첫 글자로 대체하세요

In [6]:
## 5. df_t내에 범주형 변수(embark_town,class) 를 원 핫 인코딩하여 더미변수로 만드세요